/*** FONT***/

@font-face {
  font-family: kaleidoscope;
  font-weight: 100;
  src: url(./fonts/Kaleidoscope-Light.otf);
}

@font-face {
  font-family: kaleidoscope;
  font-weight: 200;
  src: url(./fonts/Kaleidoscope.otf);
}

@font-face {
  font-family: kaleidoscope;
  font-weight: 300;
  src: url(./fonts/Kaleidoscope-Bold.otf);
}

@font-face {
  font-family: kaleidoscope;
  font-weight: 400;
  src: url(./fonts/Kaleidoscope-Light\ Black.otf);
}
@font-face {
  font-family: kaleidoscope;
  font-weight: 500;
  src: url(./fonts/Kaleidoscope-Regular\ Black.otf);
}
@font-face {
  font-family: kaleidoscope;
  font-weight: 600;
  src: url(./fonts/Kaleidoscope-Bold\ Black.otf);
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: white;
  margin: 0;
}

/*** SVG***/

rect:hover,
path:hover,
circle:hover {
  stroke: rgb(97, 95, 95);
  stroke-width: 1px;
}
/**** HEADER ***/

.header {
  background-color: rgb(255, 255, 255);
  text-align: left;
  padding: 50px;
  font-family: helvetica;
  font-size: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  font-family: kaleidoscope;
  font-weight: 200;
  font-size: 50px;
}

.header h2 {
  text-align: right;
  font-size: 18px;
  font-family: Helvetica;
  font-weight: lighter;
  width: 180px;
}
.header h3 {
  font-family: kaleidoscope;
  font-weight: 200;
  font-size: 100px;
}

/*** AFBEELDINGEN GRID***/

.gallery {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 10px;
}

/**** BUTTONS ****/

.buttons {
  display: flex;
  flex-direction: column;
}

.button {
  display: block;
  border: none;
  color: white;
  padding: 30px;
  font-size: 24px;
  font-family: kaleidoscope;
  font-weight: 200;
  margin: 10px 50px;
  background-color: rgb(237, 237, 237);
  color: black;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: #a8a8a8;
}

/**** PREVIEW TRY-OUT TEKST SCHIJVEN ****/
.preview {
  font-size: 50px;
  font-family: kaleidoscope;

  /* border: none; */
  /* outline: none; */
}

.preview.light {
  font-family: kaleidoscope;
  font-weight: 100;
}

.preview.regular {
  font-family: kaleidoscope;
  font-weight: 200;
}

.preview.bold {
  font-family: kaleidoscope;
  font-weight: 300;
}
.preview.lightblack {
  font-family: kaleidoscope;
  font-weight: 400;
}

.preview.regularblack {
  font-family: kaleidoscope;
  font-weight: 500;
}

.preview.boldblack {
  font-family: kaleidoscope;
  font-weight: 600;
}

/*** BUTTONS TRY_OUT***/

.side-by-side {
  display: flex;
}

.button-light {
  font-size: 24px;
  font-family: kaleidoscope;
  font-weight: 100;
}
.button-regular {
  font-size: 24px;
  font-family: kaleidoscope;
  font-weight: 200;
}

.button-bold {
  font-size: 24px;
  font-family: kaleidoscope;
  font-weight: 300;
}
.button-lightblack {
  font-size: 24px;
  font-family: kaleidoscope;
  font-weight: 400;
}
.button-regularblack {
  font-size: 24px;
  font-family: kaleidoscope;
  font-weight: 500;
}

.button-boldblack {
  font-size: 24px;
  font-family: kaleidoscope;
  font-weight: 600;
}

/*** FOOTER***/

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(237, 237, 237);
  color: white;
  text-align: center;
  font-family: helvetica;
  font-weight: lighter;
  padding: 8px;
}

/*** CREATE PAGE ***/
.app {
  display: grid;
  grid-template-rows: 75px 65px 1fr 50px;
  height: 100vh;
}

h1 {
  font-size: 50px;
  font-family: kaleidoscope;
  font-weight: 200;
  margin: 60px;
}

.glyphs {
  display: grid;
  grid-template-columns: repeat(26, 65px);
  overflow-x: auto;
}

.glyphs .glyph {
  color: rgb(165, 164, 164);
  display: grid;
  place-items: center;
  font-size: 24px;
  font-weight: 200;
  cursor: pointer;
}

.glyphs .glyph:nth-child(even) {
  background: red;
}

.glyphs .glyph.active {
  background-color: black;
}
/*** TRY_OUT***/
