@font-face {
  font-family: ChunkFive;
  font-weight: 400;
  src: url(./fonts/ChunkFive-Regular.otf);
}

@font-face {
  font-family: ChunkFive;
  font-weight: 800;
  src: url(./fonts/ChunkFive-Print.otf);
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: white;
  margin: 0;
}
rect:hover,
path:hover,
circle:hover {
  stroke: black;
  stroke-width: 1px;
}
.header {
  background-color: rgb(255, 255, 255);
  text-align: left;
  padding: 50px;
  font-family: helvetica;
  font-size: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header h1 {
  font-family: ChunkFive;
  font-weight: 800;
}

.header h2 {
  text-align: right;
  font-size: 15px;
  font-family: Helvetica;
  font-weight: lighter;
  width: 150px;
}

.gallery {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 10px;
}

/**** BUTTONS ****/

.buttons {
  display: flex;
  flex-direction: column;
}

.button {
  display: block;
  border: none;
  color: white;
  padding: 30px;
  font-size: 15px;
  font-family: helvetica;
  font-weight: lighter;
  margin: 10px 50px;
  background-color: rgb(237, 237, 237);
  color: black;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: #a8a8a8;
}

/**** PREVIEW ****/

.preview {
  font-size: 48px;
  font-family: ChunkFive;

  /* border: none; */
  /* outline: none; */
}

.preview.regular {
  font-weight: 400;
}

.preview.bold {
  font-weight: 800;
}

.side-by-side {
  display: flex;
}

.button-regular {
  font-size: 48px;
  font-family: ChunkFive;
  font-weight: 400;
}

.button-bold {
  font-size: 48px;
  font-family: ChunkFive;
  font-weight: 800;
}
