/*** FONT***/

@font-face {
  font-family: kaleidoscope;
  font-weight: 100;
  src: url(./fonts/Kaleidoscope-Light.otf);
}

@font-face {
  font-family: kaleidoscope;
  font-weight: 200;
  src: url(./fonts/Kaleidoscope.otf);
}

@font-face {
  font-family: kaleidoscope;
  font-weight: 300;
  src: url(./fonts/Kaleidoscope-Bold.otf);
}

@font-face {
  font-family: kaleidoscope;
  font-weight: 400;
  src: url(./fonts/Kaleidoscope-Light\ Black.otf);
}
@font-face {
  font-family: kaleidoscope;
  font-weight: 500;
  src: url(./fonts/Kaleidoscope-Regular\ Black.otf);
}
@font-face {
  font-family: kaleidoscope;
  font-weight: 600;
  src: url(./fonts/Kaleidoscope-Bold\ Black.otf);
}

img {
  max-width: 100%;
}

body {
  background-color: white;
  margin: 3vw;
  align-items: center;
}

/**** HEADER ***/

.header {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 0px 0;
  font-family: helvetica;
  flex-wrap: wrap;
  width: 100%;
}

.header h1 {
  font-family: kaleidoscope;
  font-weight: 200;
  font-size: 14vw;
  text-align: center;
  padding: 0px 0;
  max-width: 100%;
  margin-top: -1vw;
  margin-bottom: -1vw;
}

.header h2 {
  text-align: center;
  font-size: 1vw;
  font-family: Helvetica;
  font-weight: lighter;
  padding: 0px 0;
  justify-self: center;
  margin-top: -1vw;
  margin-bottom: 1vw;
  /** margin-left: 10vw;**/
}
.header h3 {
  font-family: kaleidoscope;
  font-weight: 200;
  font-size: 7vw;
  text-align: center;
  padding: 0px 0;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.header h4 {
  font-family: kaleidoscope;
  font-weight: 400;
  font-size: 9vw;
}

.header h5 {
  text-align: center;
  font-size: 1vw;
  font-family: Helvetica;
  font-weight: lighter;
  padding: 0px 0;
  justify-self: center;
  margin-top: 2vw;
  margin-bottom: 5vw;
  margin-left: 11vw;
  margin-right: 11vw;
}
/*** AFBEELDINGEN/BUTTON GRID***/

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 0;
  list-style: none;
  margin-top: 2.5vw;
  margin-left: 10vw;
  margin-right: 10vw;
  grid-gap: 5vw;
}
.flex-item {
  padding: 0 1vw;
  width: 100vw;
  justify-content: center;
  align-content: space-around;
  margin-top: 5vw;
  line-height: 0.1vw;
  flex: 3 33%;
}

/*** MILION OPTIONS GRID ***/

.gallery3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 5vw;
  grid-gap: 5vw;
}

/**** BUTTONS ****/

.buttons {
  display: flex;
  flex-direction: column;
}

.button {
  display: block;
  border: none;
  color: white;
  padding: 1vw;
  font-size: -5vw;
  font-family: kaleidoscope;
  font-weight: 200;
  color: black;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1vw;
}

.button2 {
  display: block;
  border: none;
  color: white;
  padding: 30px;
  font-size: 3vw;
  font-family: kaleidoscope;
  font-weight: 200;
  margin: -2vw -4vw;
  color: black;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button3 {
  display: block;
  border: none;
  background-color: white;
  padding: 1vw;
  font-size: -5vw;
  font-family: helvetica;
  font-weight: lighter;
  color: black;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1vw;
}
/**** PREVIEW TRY-OUT TEKST SCHIJVEN ****/
.preview {
  font-size: 5vw;
  font-family: kaleidoscope;
  width: 20000px;
  margin: 0px 50px;
}

.preview.light {
  font-family: kaleidoscope;
  font-weight: 100;
}

.preview.regular {
  font-family: kaleidoscope;
  font-weight: 200;
}

.preview.bold {
  font-family: kaleidoscope;
  font-weight: 300;
}
.preview.lightblack {
  font-family: kaleidoscope;
  font-weight: 400;
}

.preview.regularblack {
  font-family: kaleidoscope;
  font-weight: 500;
}

.preview.boldblack {
  font-family: kaleidoscope;
  font-weight: 600;
}

/*** BUTTONS TRY_OUT***/

.side-by-side {
  display: flex;
}

.button-light {
  font-size: 2.5vw;
  font-family: kaleidoscope;
  font-weight: 100;
  background-color: white;
}
.button-regular {
  font-size: 2.5vw;
  font-family: kaleidoscope;
  font-weight: 200;
  background-color: white;
}

.button-bold {
  font-size: 2.5vw;
  font-family: kaleidoscope;
  font-weight: 300;
  background-color: white;
}
.button-lightblack {
  font-size: 2.5vw;
  font-family: kaleidoscope;
  font-weight: 400;
  background-color: white;
}
.button-regularblack {
  font-size: 2.5vw;
  font-family: kaleidoscope;
  font-weight: 500;
  background-color: white;
}

.button-boldblack {
  font-size: 2.5vw;
  font-family: kaleidoscope;
  font-weight: 600;
  background-color: white;
}

/*** FOOTER***/

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: rgb(148, 148, 148);
  text-align: center;
  font-family: helvetica;
  font-weight: lighter;
  padding: 3px;
  margin-top: 10vw;
}

.footer p {
  font-size: 1vw;
}

/**** CREATE ****/

* {
  box-sizing: border-box;
  user-select: none;
}

/*** SVG***/

rect:hover,
path:hover,
circle:hover {
  stroke: rgb(97, 95, 95);
  stroke-width: 1px;
}
* {
  box-sizing: border-box;
}

.glyphs {
  display: grid;
  flex-direction: column;
  grid-template-columns: 3fr 3fr 3fr;
  width: 100%;
  gap: 1.5vw 2vh;
  margin-top: 5vh;
  margin-left: 3vh;
  cursor: pointer;
}

.glyphs .glyph {
  display: grid;
  align-items: center;
  text-align: center;
  background-color: rgb(255, 255, 255);
  font-size: 3vw;
  font-family: kaleidoscope;
  font-weight: 500;
  width: 2vw;
}
.glyphs .glyph.active {
  color: rgb(250, 205, 121);
}
